<% unless @custom_duet["error"] %>
<h3>A Custom Duet</h3>

  <h4>Ft. <u><%= @custom_duet["musician"] %></u>'s lyrics and <u><%= @custom_duet["author"] %></u>'s Wikiquote page</h4>

  <blockquote>
    <p><%= @custom_duet["book_duet"]%></p>
  </blockquote>

  <div class="btn-group" role="group" aria-label="...">
    <%= link_to "Encore!", custom_duet_path, class: "btn btn-info" %>
    <%= link_to "Save to Public Feed", create_book_duet_path(@custom_duet), method: :post, class: "btn btn-success" %>
    <%= link_to "Try a New Duo", root_path, class: "btn btn-info"%>
  </div>

<% end %>
