<% if current_user %>
<p>Signed in as <%= current_user.username %></p>
<% end %>
<p><%= link_to "Suggested Pairing", suggested_pairing_path, class: "btn btn-success" %></p>
<!-- Button here that loads a page with a suggested pairing -->

<!-- Fields for creating a custom duet -->

<%= form_tag custom_duet_redirect_path, class: "form-inline" do %>
<div class="form-group">
    <%= text_field_tag :musician, nil, class: "form-control", placeholder: "Musician name" %>
</div>
<div class="form-group">
    <%= text_field_tag :author, nil, class: "form-control", placeholder: "Author name" %>
</div>
  <%= submit_tag 'SANG IT', :class => "btn btn-success"%>
<% end %>
