<h4>Ft. <u><%= @book_duet.musician %></u>'s lyrics and <u><%= @book_duet.author %></u>'s Wikiquote page</h4>
<blockquote>
  <p><%= @book_duet.duet_text %></p>
</blockquote>

<p><%= link_to "See more Book Duets", book_duets_path, class: "btn btn-info"%></p>
<p><%= link_to "Try a New Duo", root_path, class: "btn btn-info"%></p>
