<div class="well">
  <h4>Ft. <u><%= @book_duet.musician %></u>'s lyrics and <u><%= @book_duet.author %></u>'s Wikiquote page
    <%= render partial: "explicit_label", locals: {filter_level: @book_duet.filter_level} %>
  </h4>
  <h4>Saved by <%= @book_duet.user.username %></h4>
  <blockquote>
    <p><%= @book_duet.duet_text %></p>
  </blockquote>

    <%= link_to "See more Book Duets", book_duets_path, class: "btn btn-success"%>
    <%= link_to "Try a New Duo", root_path, class: "btn btn-info"%>
    <% url = tweetify(@book_duet.musician, @book_duet.author) %>
    <a class="btn btn-primary" href=<%= url %> data-size="large" data-count value="none"><i class="fa fa-twitter"></i> Tweet
</a>

  <% if current_user %>
    <p>Save to a mixtape:</p>
    <% if current_user.mixtapes.empty? %>
      <em>You have no mixtapes to add this Book Duet to.</em>
    <% elsif @unused_mixtapes.count > 0 %>
      <%= form_tag(controller: "book_duets", action: "add_to_mixtape", method: "post", class: "form") do %>
        <%= collection_select(:mixtape, :mixtape_id, @unused_mixtapes, :id, :title, include_blank: true, class: "form-control") %>
        <%= submit_tag "Save", role: "button", class: "btn btn-default" %>
      <% end %>
    <% else %>
      <em>This Book Duet is already part of all your mixtapes.</em>
    <% end %>
  <% end %>
</div>



<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
