<h3>A Suggested Pairing</h3>

<h4>Ft. <strong><%= @suggested_pairing["musician"] %></strong> and <strong><%= @suggested_pairing["author"] %></strong></h4>

<p><%= @suggested_pairing["book_duet"] %></p>

<p>Read more about the <%= link_to "connection", @suggested_pairing["news_source"] %> between this musician and author.</p>

<%= link_to "Gimme another one", suggested_pairing_path, class: "btn btn-info" %>
